__pycache__/
*.py[cod]
*.pyo
*.pyd

*.log
local_settings.py
db.sqlite3
db.sqlite-journal

venv/
.env
.env.*
*.env

staticfiles/
media/

*/migrations/*.py
!*/migrations/__init__.py

.vscode/

.pytest_cache/

dist/